@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 160%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  -webkit-font-smoothing: antialised;
}

input {
  border: none;
}
